{% load static %}
{% load compress %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  

    <link rel="stylesheet" href="{% static 'sims_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'sims_app/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'sims_app/css/vendor.bundle.base.css' %}">
    {% compress css %}
        <link type="text/x-scss" href="{% static 'style.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <title>Base</title>
   
</head>

<body>
    <div class="container-scroller">
        {% include 'sims_app/navbar.html' %}
        <div class="container-fluid page-body-wrapper">
            {% include 'sims_app/sidebar.html' %}

            {% block content %}

   
            {% endblock content %}

            <footer class="footer">
                <div class="d-sm-flex justify-content-center">
                  <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Developed By Sugith Kumanayake | Clavein Web 2023 </span>
                </div>
              </footer> 
        </div>
    </div>
</body>
    <script src="{% static 'sims_app/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'sims_app/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'sims_app/js/off-canvas.js' %}"></script>
    <script src="{% static 'sims_app/js/jquery.cookie.js'  %}" type="text/javascript"></script>
    <script src="{% static 'sims_app/js/template.js' %}"></script>
    <script src="{% static 'sims_app/js/dashboard.js' %}"></script>
</html>