{% extends 'sims_app/base.html' %}
{% load static %}
{% block  content %}
</br>
</br>
</br>
</br>
    <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Course Details</h4>
            <form class="form-sample" method="POST">
                {%  csrf_token %}
             
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Course ID</label>
                      <div class="col-sm-9"> 
                        {{form.cid}}
                      </div>
                    </div>
                  </div>
                </div>
            </br>
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Course Name</label>
                    <div class="col-sm-9"> 
                       {{form.cname}}
                    </div>
                  </div>
                </div>
            </br>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Duration(Months)</label>
                    <div class="col-sm-9">
                      {{form.duration}}
                    </div>
                  </div>
                </div>
              </div>
            </br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Conducted on</label>
                    <div class="col-sm-9">
                       {{form.ctype}}
                        
                     
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Medium</label>
                    <div class="col-sm-9">
                     {{form.medium}}
                        
                    
                    </div>
                  </div>
                </div>
              </div>
            </br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Course Fee</label>
                    <div class="col-sm-9">
                      {{form.fee}}
                    </div>
                  </div>
                </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      
                        <button type="submit" class="btn btn-primary mb-2">Add Record</button>
    
                    </div>
                  </div>
                </div>
        </form>
        <div class="col-md-12">
          <div class="card card-body">
              <h5> Courses </h5>
          </div>
          <div class="card card-body">    
              <table class="table table-primary table-striped">
                  <tr>
                          <th> Course ID </th>
                          <th> Name </th>
                          <th> Duration </th>
                          <th> Conducted on </th>
                          <th> Medium </th>
                          <th> Course Fee </th>
                          <th></th>
                          <th></th>
                          <th></th>
                  </tr>
                  {% for i in course_records %}
                  <tr>
        
                      <td> {{i.cid}} </td>
                      <td> {{i.cname}} </td>
                      <td> {{i.duration}} Months </td>
                      <td> {{i.ctype}} </td>
                      <td> {{i.medium}} </td>
                      <td> {{i.fee}} </td>
                      <td> <a class="btn btn-sm btn-info" href="{% url 'update_course' i.cid %}"> Update </a> </td>
					            <td> <a class="btn btn-sm btn-danger" href="{% url 'delete_course' i.cid %}"> Delete </a> </td>
                   
			  
                  </tr>
                  {% endfor %}
              </table>
          </div>
        </div>

        </div>

        
    </div>
</div>


{% endblock  %}