{% load static %}
{% load compress %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="{% static 'sims_app/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'sims_app/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'sims_app/css/vendor.bundle.base.css' %}">
  {% compress css %}
    <link type="text/x-scss" href="{% static 'style.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %}
</head>
<body>
  <div class="container-scroller">
      {% include 'sims_app/navbar.html' %}
      <div class="container-fluid page-body-wrapper">
          {% include 'sims_app/sidebar.html' %}
        <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
                <div class="col-md-12 grid-margin">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <h4 class="font-weight-bold mb-0">SIMS Dashboard </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title text-md-center text-xl-left">Students</p>
                      <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{student_count}}</h3>
                        <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                      </div>  
                      <p class="mb-0 mt-2 text-success">{{male_count}}<span class="text-black ms-1"><small> Male | </small></span>
                     {{female_count}}<span class="text-black ms-1"><small> Female</small></span></p>
                     
                    </div>
                  </div>
                </div>
                <div class="col-md-3 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title text-md-center text-xl-left">New Registrations</p>
                      <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{reg_count_month}}</h3>
                        <i class="ti-briefcase icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                      </div>  
                      <p class="mb-0 mt-2 text-success"> {{reg_count}} <span class="text-black ms-1"><small> Total</small></span></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title text-md-center text-xl-left">New Payments</p>
                      <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{payments_month}}</h3>
                        <i class="ti-credit-card icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                      </div>  
                      <p class="mb-0 mt-2 text-success">{{payments_total}}<span class="text-black ms-1"><small> Total</small></span></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title text-md-center text-xl-left">Courses</p>
                      <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{course_count}}</h3>
                        <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                      </div>  
                      <p class="mb-0 mt-2 text-success"> <span class="text-black ms-1"><small>Total Courses</small></span></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title mb-0">Top Courses</p>
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                             
                              <th>Course</th>
                              <th>Registrations</th>
                           
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in top_courses %}
                            <tr>
                           
                              <td>{{i.course}}</td>
                              <td class="text-dark"> {{i.total}} </td>
                           
                            </tr>
                            {% endfor %}
                           
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title mb-0">Top Students</p>
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                          
                              <th>Student</th>
                              <th>Registrations</th>
                            
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in top_students %}
                            <tr>
                           
                              <td>{{i.student}}</td>
                              <td class="text-dark"> {{i.total}} </td>
                           
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card position-relative">
                    <div class="card-body">
                      <p class="card-title">Detailed Reports</p>
                      <div class="row">
                        <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-center">
                          <div class="ml-xl-4">
                            <h1>33500</h1>
                            <h3 class="font-weight-light mb-xl-4">Sales</h3>
                            <p class="text-muted mb-2 mb-xl-0">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                          </div>  
                        </div>
                        <div class="col-md-12 col-xl-9">
                          <div class="row">
                            <div class="col-md-6 mt-3 col-xl-5">
                              <canvas id="north-america-chart"></canvas>
                              <div id="north-america-legend"></div>
                            </div>
                            <div class="col-md-6 col-xl-7">
                              <div class="table-responsive mb-3 mb-md-0">
                                <table class="table table-borderless report-table">
                                  <tr>
                                    <td class="text-muted">Illinois</td>
                                    <td class="w-100 px-0">
                                      <div class="progress progress-md mx-4">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                    <td><h5 class="font-weight-bold mb-0">524</h5></td>
                                  </tr>
                                  <tr>
                                    <td class="text-muted">Washington</td>
                                    <td class="w-100 px-0">
                                      <div class="progress progress-md mx-4">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                    <td><h5 class="font-weight-bold mb-0">722</h5></td>
                                  </tr>
                                  <tr>
                                    <td class="text-muted">Mississippi</td>
                                    <td class="w-100 px-0">
                                      <div class="progress progress-md mx-4">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                    <td><h5 class="font-weight-bold mb-0">173</h5></td>
                                  </tr>
                                  <tr>
                                    <td class="text-muted">California</td>
                                    <td class="w-100 px-0">
                                      <div class="progress progress-md mx-4">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                    <td><h5 class="font-weight-bold mb-0">945</h5></td>
                                  </tr>
                                  <tr>
                                    <td class="text-muted">Maryland</td>
                                    <td class="w-100 px-0">
                                      <div class="progress progress-md mx-4">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                    <td><h5 class="font-weight-bold mb-0">553</h5></td>
                                  </tr>
                                  <tr>
                                    <td class="text-muted">Alaska</td>
                                    <td class="w-100 px-0">
                                      <div class="progress progress-md mx-4">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                    <td><h5 class="font-weight-bold mb-0">912</h5></td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           </div>
           <footer class="footer">
            <div class="d-sm-flex justify-content-center">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Developed By Sugith Kumanayake | Clavein Web 2023 </span>
            </div>
          </footer> 
      </div>
    </div>
  </div>
</body>

<script src="{% static 'sims_app/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'sims_app/js/off-canvas.js' %}"></script>
<script src="{% static 'sims_app/js/jquery.cookie.js'  %}" type="text/javascript"></script>
<script src="{% static 'sims_app/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'sims_app/js/template.js' %}"></script>
<script src="{% static 'sims_app/js/dashboard.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>