{% extends 'sims_app/base.html' %}
{% load static %}
{% block  content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Update Course Details</h4>
            <form class="form-sample" method="POST">
                {%  csrf_token %}
             
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Course ID</label>
                      <div class="col-sm-9"> 
                         {{form.cid}}
                      </div>
                    </div>
                  </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Course Name</label>
                    <div class="col-sm-9"> 
                      {{form.cname}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Duration</label>
                    <div class="col-sm-9">
                      {{form.duration}}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Conducted on</label>
                    <div class="col-sm-9">
                      {{form.ctype}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Medium</label>
                    <div class="col-sm-9">
                       {{form.medium}}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Course Fee</label>
                    <div class="col-sm-9">
                       {{form.fee}}
                    </div>
                  </div>
                </div>
              </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="submit" class="btn btn-primary mb-2">Save</button>
                </div>
              </div>
            </form>
          </div>  
        </div>
      </div>
    </div>
{% endblock  %}