{% extends 'sims_app/base.html' %}
{% load static %}
{% block  content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Student's Qualifications</h4>
            <p class="card-description">
              Please use this Form to add Qualifications of selected Student.
            </p>
            <form class="form-inline" method="POST">
              {% csrf_token %}
              <div class="row">
                  {{ formset.management_form }}
                  {% for form in formset %}
                  
                    <label class="col-md-3 col-form-label">Qualification Type</label>
                    <div class="col-sm-9">    
                          {{form.quali_type}}
                    </div> 
                   
                    <label class="col-md-3 col-form-label">Qualification Details</label>
                    <div class="col-sm-9">  
                          {{form.quali_detail}}
                          
                    </div>
                
                 
                  {% endfor %}
                  <div class="d-grid gap-2 col-6 mx-auto"> 
                    <button type="submit" class="btn btn-primary mb-2">Save</button>
                  </div>
                </div>
          </div>
        </form>
      </div>
    </div>
  </div>
    
        <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <p class="card-description">
                  Qualifications of {{student.fname}} {{student.lname}}
                </p> 
                <div class="table-responsive ">
                  <table class="table table-primary table-striped">
                    <thead>  
                      <tr>
                              
                                <th> Qualification Type </th>
                                <th> Details </th>

                        </tr>
                    </thead>
                    <tbody>
                      {% for i in formset %}
                      <tr>
            
                          <td> {{i.instance.quali_type}} </td>
                          <td>  {{i.instance.quali_detail}} </td>
                          
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
        
    </div>
  </div>
</div>

{% endblock  %}