{% load static %}
{% load compress %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'sims_app/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'sims_app/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'sims_app/css/style.css' %}">
  
    {% compress css %}
      <link type="text/x-scss" href="{% static 'style.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
   
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-5 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                  <img src="{% static 'sims_app/images/dashlogo.png'%}" alt="logo">
                </div>
                <h4 class="font-weight-light">Create a User Account</h4>
                <form class="pt-3" method="POST">
                  {%  csrf_token %}
                  <div class="form-group">
                    {{form.username}}
                    <p class="text-small text-gray">
                      (Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.)
                    </p>
                  </div>
                  <div class="form-group">
                    {{form.email}}
                  </div>
                  <div class="form-group">
                    {{form.password1}}
                    <p class="text-small text-gray">
                      (Your password must contain at least 8 characters and cannot be a commonly used password or entirely numeric)
                    </p>
                  </div>
                 
                  <div class="form-group">
                    {{form.password2}}
                  </div>
                  <div class="form-group">
                    {{form.profile_pic}}
                  </div>
                  <div class="mb-4">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input">
                        I agree to all Terms and Conditions
                      </label>
                    </div>
                  </div>
                  <div class=class="d-grid gap-2 mx-auto">
                    <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
                  </div>
                  <div class="text-center mt-4 font-weight-light">
                    Already have an account? <a href="{% url 'login' %}" class="text-primary">Login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'sims_app/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'sims_app/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'sims_app/js/off-canvas.js' %}"></script>
  <script src="{% static 'sims_app/js/template.js' %}"></script>
  <script src="{% static 'sims_app/js/todolist.js' %}"></script>
</html>
