{% extends 'sims_app/base.html' %}
{% load static %}
{% block  content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Users</h4>
            <form class="form-sample" method="POST">
                {%  csrf_token %}
              <p class="card-description" >
                Create a user account
              </p>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Username</label>
                      <div class="col-sm-9"> 
                         {{form.username}}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Email</label>
                      <div class="col-sm-9"> 
                        {{form.email}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Passowrd</label>
                      <div class="col-sm-9">
                      {{form.password1}}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Confirm Passowrd</label>
                    <div class="col-sm-9">
                      {{form.password2}}
                    </div>
                  </div>
                </div>
              </div>
           
            <div class="d-grid gap-2 col-6 mx-auto">
              <a class="btn btn-primary mb-2" href="{% url 'register' %}">Save</a>
            </div>   
        </form>
      </div>
    </div>
  </div>
      <div class="col-md-12">
        <div class="card">
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title"> Exisiting Users </h5>
            </div>
            <div class="table-responsive "> 
              <table class="table table-primary table-striped">
                  <tr>
                          <th>  </th>
                          <th> Username </th>
                          <th> Email </th>
                         
                  </tr>
                  {% for i in users_data %}
                  <tr>
                      <td> <img src="images/{{i.profile_pic}}"></td>
                      <td> {{i.user__username}} </td>
                      <td> {{i.user__email}} </td>
                  </tr>
                  {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}